# No.7 : Pathwise

In [93]:
import numpy as np
import pandas as pd

interest = {
    "Year1": [0.025000, 0.025000, 0.025000, 0.025000, 0.025000, 0.025000, 0.025000, 0.025000],
    "Year2": [0.045160, 0.045160, 0.045160, 0.045160, 0.033456, 0.033456, 0.033456, 0.033456],
    "Year3": [0.067332, 0.067332, 0.049880, 0.049880, 0.049880, 0.049880, 0.036952, 0.036952],
    "Year4": [0.091081, 0.067474, 0.067474, 0.049986, 0.067474, 0.049986, 0.049986, 0.037031]
}

n = 3

index = ["Path" + str(i+1) for i in range(2**n)]
column = ["Year" + str(i+1) for i in range(n+1)]

pathwise = pd.DataFrame(interest, index=index)
pathwise

       Year1     Year2     Year3     Year4
Path1  0.025  0.045160  0.067332  0.091081
Path2  0.025  0.045160  0.067332  0.067474
Path3  0.025  0.045160  0.049880  0.067474
Path4  0.025  0.045160  0.049880  0.049986
Path5  0.025  0.033456  0.049880  0.067474
Path6  0.025  0.033456  0.049880  0.049986
Path7  0.025  0.033456  0.036952  0.049986
Path8  0.025  0.033456  0.036952  0.037031

In [101]:
face_value = 100
coupon_rate = 0.0275
c = face_value * coupon_rate

pathwise["Value"] = (c/(1+pathwise["Year1"])) + \
                    (c/( (1+pathwise["Year1"]) * (1+pathwise["Year2"]) )) + \
                    (c/( (1+pathwise["Year1"]) * (1+pathwise["Year2"]) * (1+pathwise["Year3"]) )) + \
                    ((face_value + c)/( (1+pathwise["Year1"]) * (1+pathwise["Year2"]) * (1+pathwise["Year3"]) * (1+pathwise["Year4"]) ))
pathwise

       Year1     Year2     Year3     Year4      Value
Path1  0.025  0.045160  0.067332  0.091081  90.015432
Path2  0.025  0.045160  0.067332  0.067474  91.836819
Path3  0.025  0.045160  0.049880  0.067474  93.276140
Path4  0.025  0.045160  0.049880  0.049986  94.701533
Path5  0.025  0.033456  0.049880  0.067474  94.302117
Path6  0.025  0.033456  0.049880  0.049986  95.743654
Path7  0.025  0.033456  0.036952  0.049986  96.871505
Path8  0.025  0.033456  0.036952  0.037031  97.984439

In [102]:
print("The average value of bond is $" + str(round(pathwise["Value"].mean(),2)))

The average value of bond is $94.34