# Basic Syntax to Get Started

### Dispaly message on the screen

In [1]:
print("Hello World!")

Hello World!

### Indentation

In [2]:
if 5 > 2:
    print("Five is greater than two!")
    print("Second instruction")

Five is greater than two!
Second instruction

### Variables

In [3]:
x = 5

In [4]:
y = "Hello World!"

In [5]:
print(x)
print(y)

5
Hello World!

In [6]:
x = "Test"
print(x)

Test

In [7]:
a = 3
A = 5
print(a)
print(A)

3
5

### Comments

#### In-line comment with '#'

In [8]:
# Test Comment1
x = 4-1 # Test Comment2
print(x)

3

#### Block comment with three quotes (sing or double quotes)

In [2]:
''' Line1
Line2 asdsadasdasda
Line3 12131213131321
    Line4
'''

' Line1\nLine2 asdsadasdasda\nLine3 12131213131321\n    Line4\n'

# 2. Variables

In [10]:
x = 5
y = 5
y is x

True

In [11]:
id(x)

140718984341424

In [12]:
id(y)

140718984341424

In [13]:
x = 4

In [14]:
id(x)

140718984341392

In [15]:
x = "Sally"

In [16]:
id(x)

1597219587888

In [17]:
x = "awesome"
print("Python is " + x) # ถ้าใส่ + จะไม่ space ให้
print("Python is" , x) # ถ้าใส่ , จะ space ให้เอง

Python is awesome
Python is awesome

In [18]:
x = 5
y = 10
print(x + y)

15

In [19]:
x = 5
y = "Baht"
print(x + y) # error

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
x = 5
y = "Baht"
print("The price is", x , y)

In [ ]:
x = 5
y = "Baht"
print(x , y)

In [ ]:
x = "awesome" # เป็น Global Variables

In [ ]:
def myfunc():
    print("Python is " + x)
myfunc()
print("Python is " + x)

In [1]:
x = "awesome" # ตัวแปรระดับ Global(ระดับโลก) คนละตัวกับ x ใน def ที่กล่าวในบรรทัดต่อไป
def myfunc():
    x = "fantastic" # ตัวแปรระดับ Local(ท้องถิ่น)
    print("Python is " + x)
myfunc()
print("Python is " + x)

Python is fantastic
Python is awesome

In [9]:
x = "awesome"
def myfunc():
    global x
    x = "fantastic"
myfunc()
print("Python is " + x)

Python is fantastic

In [7]:
x = "awesome"
def myfunc():
    global x
myfunc()
print("Python is " + x)

Python is awesome

# 3. Data Types

In [10]:
x = 5
print(type(x))

<class 'int'>

In [11]:
x = "Sally"
print(type(x))

<class 'str'>

In [13]:
a = "Hello"
b = " World"
c = a + b
print(c)

('Hello', ' World')

In [14]:
print(10 > 9)
print(10 >= 9)
print(10 == 9)
print(10 < 9)

True
True
False
False

In [ ]:
a = 200
b = 33
if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")

In [ ]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
print(z)

In [16]:
x = float(1) # x will be 1.0
y = float(2.8) # y will be 2.8
z = float("3") # z will be 3.0
w = float("4.2") # w will be 4.2
print(x)

1.0

In [19]:
x = str("s1") # x will be 's1'
y = str(2) # y will be '2'
z = str(3.0) # z will be '3.0'
print(x)
print(y)
print(x+y) # มันจะบวกกันได้โดยปกติ str + int ไม่ได้ แต่อันนี้เป็น str + str

s1
2
s12

# 4. Python Operators

## Piority ลำดับความสำคัญของสัญลักษณ์ (**) >> (*), (/), (%), (//) >> (+). (-)
##### ก็คือการคำนวณของคอมพิวเตอร์ ให้เรียงจาก piority ก่อน แล้วถ้าอยู่ในลำดับเดียวกันไล่จากซ้ายไปขวา

In [ ]:
15%3 # ได้เศษ

In [ ]:
16//5 # หารไม่สนทศนิยม

In [ ]:
4**2 # ยกกำลัง

In [ ]:
2+8/2**2-4

In [ ]:
(2+8)/(2**2)-4

In [ ]:
3 = x # ชื่อตัวแปรต้องอยู่ด้านซ้ายเสมอ

In [ ]:
x = 3
y = 3*x+2
x = y

### Python Comparison Operators
##### Operator Name Example
##### == Equal x == y
##### != Not equal x != y
##### > Greater than x > y
##### < Less than x < y
##### >= Greater than or equal to x >= y
##### <= Less than or equal to x <= y

# 5. User Input

In [20]:
username = input("Enter username:")
print("Username is: " + username)

Enter username: หฟกฟกห

Username is: หฟกฟกห

In [ ]:
# เปลี่ยน String ให้กลายเป็น Float ไม่งั้นจะ error ตรง l*w 
l = float(input("Enter length: "))
w = float(input("Enter width: "))
print("Area of the regtangle is",l*w,".")

In [ ]:
l = float(input("Enter length: "))
w = float(input("Enter width: "))
print("Area of the regtangle is",int(l*w),".")

# 6. String Formatting

In [21]:
price = 49
print("The price is {} dollars".format(price))

The price is 49 dollars

In [ ]:
# ใช้วิธีนี้
price = 49
txt = "The price is {} dollars" # {} ปีกกาตัวนี้เรียกว่า placeholders
print(txt.format(price))

In [ ]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {} pieces of item number {} for {:.2f} dollars." # {:.2f} เพื่อแสดงทศนิยม 2 ตำแหน่ง
print(myorder.format(quantity, itemno, price)) # จะเรียงตาม placeholders

In [ ]:
# เริ่มนับตัวเลขตั้งแต่ 0 เรียกว่า Argument หมายเลข 0
quantity = 3
itemno = 567
price = 49
myorder = "I want {0} pieces of item number {1} for {2:.2f} dollars."
print(myorder.format(quantity, itemno, price)) # argument0คือตัวแรก 1คือตัวที่2 2คือตัวที่3

In [ ]:
age = 36
name = "John"
txt = "His name is {1}. {1} is {0} years old."
print(txt.format(age, name))

### Assignment 01 ทำเองเล่นเอง

#### ข้อที่ 1 จงเขียนสคริปต์เพือ3 ถามปีเกิด (birth year) จากผู้ใช้ เมือ3 ผู้ใช้ป้อนคำตอบและเคาะ enter แล้วให้แสดงข้อความแจ้งอายุของผู้ใช้บนจอภาพ

In [ ]:
birth_years = input("Years (EX: 2002) :")
print("Your birth year is : "+birth_years)

In [ ]:
birth_years = input("Years (EX: 2002) :")
output = "Your birth year is {}"
print(output.format(birth_years))

In [ ]:
day = str(input("Your birthday : Day (EX: 01)"))
months = str(input("Your birthday : Month (EX: 12)"))
years = str(input("Your birthday : Years (EX: 2002)"))
print("Your birthday is : "+day+"/"+months+"/"+years)

#### ข้อที่ 2 จงเขียนสคริปต์เพื่อถามเงินต้น (principle) และ อัตราดอกเบี้ย (interest rate) แบบร้อยละจากผู้ใช้ แล้วให้แสดงข้อความบนจอภาพว่าเมื่อฝากเงินครบ 1 ปี ผู้ใช้จะมียอดเงินฝาก (balance) เท่าใด

In [ ]:
PV = float(input("Principal (Baht)) : (Ex: 1000)"))
r = float(input("Interest rate (Percentage) : (Ex: 2.5)"))
print("Your account balance after a one-year deposit :",float((PV*(r/100))+PV),"Baht")

# 7. Conditions and If statements

In [ ]:
a = 200
b = 33
if b > a:                           
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

In [ ]:
x = 41
if x > 10:
    print("Above ten,")
    if x > 20:
        print("and also above 20!")
    else:
        print("but not above 20.")

## 8. For loops
### เรารู้รอบที่แน่นอนจึงใช้ for loop

In [21]:
fruits = ["apple","banana","cherry"]
print(fruits)
for x in fruits:
    print(x)

['apple', 'banana', 'cherry']
apple
banana
cherry

In [22]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [23]:
for x in range(6): # 6 คือ stop value จะไม่แสดง 6
    print(x)

0
1
2
3
4
5

In [24]:
for x in range(2, 30, 3): # 2 คือ start value/inditial value, 30 คือ stop value แปลว่าจะไม่แสดง 30
    print(x)

2
5
8
11
14
17
20
23
26
29

In [26]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

 ## 9. While Loops
 ### เราไม่รู้รอบที่แน่นอน ใช้จนกว่าเงื่อนไขจะไม่ถูก

In [27]:
i = 1
while i < 6:    # 1 เป็นจริงก็ + i ไปเรื่อยๆจนกว่าจะเป็นเท็จ ก็คือน้อยกว่า 6
    print(i)    # จะทำจนกว่าจะเงื่อนไขจะเป็นเท็จ
    i += 1      #  += เพิ่มค่า i ไปอีก 1 หรือก้คือ i = i+1

1
2
3
4
5